{% extends 'base.html' %}


{% block content %}

<div id="app" :class="typeof weather.main != 'undefined' && weather.main.temp > 16 ? 'warm' : 'cold' ">
    <main>
      <div class="search-box">
        <input 
          type="text" 
          name="" 
          id="" 
          class="search-bar" 
          placeholder="search..." 
          v-model="query"  
          @keypress="fetchWeather"
        />
      </div>

      <div class="weather-wrap" v-if="typeof weather.main != 'undefined' ">
        <div class="location-box">
          <div class="location"> [[weather.name]], [[weather.sys.country]] </div>
          <div class="date"> [[dateBuilder()]] </div>
        </div>
        <div class="weather-box">
          <div class="temp"> [[Math.round(weather.main.temp)]]°c  </div>
          <div class="weather"> [[weather.weather[0].main ]] </div>
        </div>
      </div>
    </main>
  </div>


{% endblock content %}
    